<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Client Claims</title> 
	<meta charset="utf-8"></meta>
   	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
 	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/css/jquery-ui.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/>

	<script src="/js/jquery.js"></script>
	<script src="/js/jquery-ui.js"></script>
    <script src="/js/bootstrap.js"></script>
	<script src="/js/app.js"></script>   
</head>
<body>
	<div class="container">
		<div class="jumbotron text-left">
	        <div class="page-header">
	           	<h3 class="modal-title">Client Claim Details:</h3>             		  
	        </div>		
	        <p/><span th:text="${claimList[0].person.firstName +' '+claimList[0].person.familyName}"></span>   
	        <p/><a th:href="${'mailto:'+claimList[0].person.emailAddress}">
	        		<i class="glyphicon glyphicon-envelope"></i>	   
	         		<span th:text="${claimList[0].person.emailAddress}"></span>
	        	</a>
	        <p/><i class="glyphicon glyphicon-phone"></i>
	        	<span th:text="${claimList[0].person.mobileNumber}"></span>
	        <p/><i class="glyphicon glyphicon-phone-alt"></i>
	        	<span th:text="${claimList[0].person.phoneNumber}"></span>
        </div>        
		<div>		
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>Claim No.</th>
						<th>Date</th>
						<th>Status</th>
						<th>Amount</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody th:unless="${#lists.isEmpty(claimList)==true}">
			      <tr th:each="claim,row : ${claimList}">
				        <td th:text="${claim.claimId}" />
				        <td th:text="${claim.audit.createdDate}" />
				        <td th:text="${claim.status}" />
				        <td th:text="${claim.amount}" />     
				        <td th:text="${claim.description}" ></td>
			      </tr>
			    </tbody>
			</table>
		</div>
	</div>
</body>
</html>
